{# 

Fragment FOOTER

 #}

<footer class="footer-container pT50 pB50">
	<div class="container-1200">
		<div class="footer-content flex justify-center align-center mB50">
			<h4 class="footer-title">Overcome Ignorance and
				<br>
				Fight for Equality</h4>
		</div>
		<div class="button-container flex justify-center gap24 mB20">
			<button class="button-receive-news">receive news</button>
			<button class="button-donate">donate</button>
		</div>

		<div class="footer-links flex justify-between mB20">
			<div class="footer-column">
				<p class="footer-heading">NAVIGATION</p>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">What We Do</a></li>
					<li><a href="#">To The Power of 10</a></li>
					<li><a href="#">Donate</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-heading">WHAT WE DO</p>
				<ul>
					<li><a href="#">Encouraging Testing</a></li>
					<li><a href="#">Strengthening Advocacy</a></li>
					<li><a href="#">Sharing Information</a></li>
					<li><a href="#">Building Leadership</a></li>
					<li><a href="#">Engaging With Global Fund</a></li>
					<li><a href="#">Shining a Light</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-heading">LEGAL</p>
				<ul>
					<li><a href="#">General Info</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Service</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-heading">TALK TO US</p>
				<ul>
					<li><a href="mailto:support@ercom.com">support@ercom.com</a></li>
					<li><a href="tel:+6623991145">+66 2399 1145</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom flex justify-between align-center">
			<p>&copy; 2019 Lift Media. All Rights Reserved.</p>
			<div class="social-media-icons flex gap16">
				<a href="#"><img src="./assets/facebook-icon.svg" alt="Facebook"></a>
				<a href="#"><img src="./assets/linkedin-icon.svg" alt="LinkedIn"></a>
				<a href="#"><img src="./assets/twitter-icon.svg" alt="Twitter"></a>
			</div>
		</div>
	</div>
</div></footer>
