<div class="container-1200 pT50">
	{{ form_start(form, { 'attr': { 'class': 'form-register' } }) }}

	<div class="form-group">
		{{ form_row(form.contenu, { 'attr': { 'class': 'form-control' } }) }}
	</div>

	<button type="submit" class="btn-submit">Envoyer le commentaire</button>

	{{ form_end(form) }}
</div>
