{# 

Template de base: affiche la page de base

 #}

<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Plateforme de blog pour partager des articles sur divers sujets. Créez, publiez, et gérez vos articles en ligne. Connectez-vous pour interagir avec la communauté.">
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="icon" type="image/ico" href="./assets/favicons.png">
		<title>
			{% block title %}Blog - Partagez vos articles
			{% endblock %}
		</title>
	</head>

	<body>
		{# HEADER ADMIN #}
		{%  if is_granted('ROLE_ADMIN') %}
			<div class="texte-center admin">
				<div class="mB10">
					<p>
						<b>Vous êtes ADMIN</b>
					</p>
				</div>
				<ul class="flex gap16 justify-center">
					<li>
						<a href="">
							<u>Utilisateurs</u>
						</a>
					</li>
					<li>
						<a href="">
							<u>Catégories</u>
						</a>
					</li>
				</ul>
				<div></div>
			</div>
		{% endif %}
		{# Fragment HEADER #}
		{% include 'partials/_header.html.twig' %}

		{# Block MAIN #}
		{% block main %}{% endblock %}

		{# Fragment FOOTER #}
		{% include 'partials/_footer.html.twig' %}

	{# JAVASCRIPT #}

		 <script src="{{ asset('js/app.js') }}"></script>

	</body>
</html>
