{# 

Template de base: affiche la page de base

 #}

<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Plateforme de blog pour partager des articles sur divers sujets. Créez, publiez, et gérez vos articles en ligne. Connectez-vous pour interagir avec la communauté.">
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="icon" type="image/ico" href="./assets/favicons.png">
		<title>
			{% block title %}Blog - Partagez vos articles
			{% endblock %}
		</title>
	</head>

	<body>
		{# Fragment HEADER #}
		{% include 'partials/_header.html.twig' %}

		{# Block MAIN #}
		{% block main %}{% endblock %}

		{# Fragment FOOTER #}
		{% include 'partials/_footer.html.twig' %}

		{# JAVASCRIPT #}

		<script src="{{ asset('js/app.js') }}"></script>

	</body>
</html>
