<h1>Confirmer la Suppression</h1>
<p>Êtes-vous sûr de vouloir supprimer cet article ?</p>
<form action="{{ path('article_delete', { id: id }) }}" method="post">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
	<button type="submit" class="btn btn-danger">
		Supprimer
	</button>
	<a href="{{ path('liste_article') }}" class="btn btn-secondary">Annuler</a>
</form>
