{# 
Rôle: Affiche la page principale à l'Index
@param: array $liste_derniers_articles
@param: Article $articleUne
 #}

{% extends 'base.html.twig' %}

{% block main %}
	<section class="container-1200">
		<div class="mB120 mT80">
			<h1 class="title-container mB20">À la une !</h1>
			{% include 'article/_card_une.html.twig' %}
		</div>
	</section>

	<section class="container-1200">
		<div class="mB80">
			<h2 class="title-container mB20">Dernières parutions</h2>
			<div
				class="articles-container flex gap16">
				{# liste des 4 derniers articles #}
				{% for article in liste_derniers_articles %}
					{# include 'article/_card_article.html.twig' avec son paramètre article #}
					{% include 'article/_card_article.html.twig' with {'article': article} %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
